.page {
  --background: #1b2838;
  --foreground: #1b2838;

  --text-primary: #000;
  --text-secondary: #c7d5e0;
    --white: #ffffff;
    --primary: #66c0f4;
    --gray: #8F98A0;
    --light-gray: #C7D5E0;
    --dark-blue-2: #3B4B59;
    --background-blue: #102033;
    --dark-blue: #132943;

/* branco #ffffff
azul escuro header e fundo #1b2838 
azul escuro body, 
cinza
azul claro primário #66c0f4
azul cinza botão #364657
cinza escuro fundo
 */


    
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-between; */
  background-color: var(--background);
  padding: 2rem ;
}

/* Header */
.header {
    display: flex;
    flex-direction: row;
    background-color: var(--background-blue);
    width: 100%;
    padding: 1rem;
    gap: 2rem;
    align-items: center;
    font-weight: bold;
}

/* Seção de título de Jogo */


.TituloJogo p {
    color: var(--gray);
    font-size: 1rem;
}


/* Análise Geral */
.analiseGeral {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--gray);

}

.containerGeral {
    background-color: var(--dark-blue-2);
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.containerGeral p {
    font-size: .8rem;
}

.containerGeral span {
    font-weight: bold;
    color: var(--light-gray);
}

.containerGeralMenor {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: .8rem;
}

.positiveAnalises {
    color: var(--primary);
    font-weight: bold;
}



/* Filtro */
.ContainerFiltro {
    background-color: var(--background-blue);
    padding: 1rem;
    width: 100%;
}

.ContainerFiltro p {
    color: var(--gray);
    font-size: .8rem;
    font-weight: bold;
}

.buttonSection {
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: flex;
    gap: 1rem;

}

.button {
    padding: 1rem;
    border-radius: 0%;
    border: none;
    background-color: var(--dark-blue);
    font-weight: bold;
    font-size: .7rem;
}


.button:focus {
    background-color: var(--primary);
}


.containerCategorias {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}

.containerCategorias button {
    padding: 1rem;
    background-color: var(--dark-blue-2);
    border: none;
    font-weight:600;
    color: var(--light-gray);
}

.containerCategorias button:focus {
    background-color: var(--primary);
    color: var(--background-blue);
}

/* Reviews */

.ContainerReviews {
    margin-top: 1rem;
    width: 100%;
}

.ReviewCard {
    background-color: #1c2f45;
    width: 100%;
    margin-bottom: 1rem;

}

.ReviewCardHeader {
    background-color: var(--background-blue);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    gap: 1rem;
}



.ReviewCardHeader img {
    width: 3rem;
    background-color: var(--primary);
}

.ReviewCardHeader div {
    padding: .3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.ReviewRecomendation {

}

.ReviewId {
    color: var(--primary);
    font-size: .7rem;
    font-weight: bold;
}

.ReviewMarcadores{
    display: flex;
    flex-direction: row;
    font-size: .8rem;
    gap: .5rem;
    color: var(--primary);
}

.ReviewMarcador{
    background-color: var(--dark-blue);
    padding: .3rem;
}

.ReviewContent {
    color: rgb(171, 170, 170);
    padding: 1rem;
    font-size: .9rem;
}




/*  */


/*  */


a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

}
